Source: wdleds
Section: misc
Priority: optional
Maintainer: Jörg Mechnich <Joerg.Mechnich@gmail.com>
Build-Depends: debhelper (>=9),autotools-dev,libusb-dev,pkg-config
Standards-Version: 3.9.6
Homepage: https://github.com/jmechnich/wdleds
Vcs-Git: https://github.com:jmechnich/wdleds.git
Vcs-Browser: https://github.com/jmechnich/wdleds

Package: wdleds
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: controls the 'fuel gauge' LEDs of WD MyBook hard disks
 wdleds is a collection of scripts for controlling the LEDs on Western
 Digital's MyBook USB HDDs:
  - wdcpumeter:  shows load average
  - wddiskmeter: shows disk usage
  - wdmemmeter:  shows memory usage
  - wdsetleds:   shows explicitly selected LED pattern
